---
layout: home
title: Home
short_title: Home
order: 1
projects:
 - title: "Integrating Diverse Transcriptomic Alterations to Identify Cancer-Relevant Genes"
   thumbnail: "images/projects/integrative-talk.png"
   link: "https://www.youtube.com/watch?v=nPYCgxQjdVM"
   desc:
    ( <a href="https://www.biorxiv.org/content/biorxiv/early/2018/03/12/183889.full.pdf">link to paper</a> )

 - title: "Identification and Characterization of HIF-Dependent Altenative Splicing Events in Pancreatic Cancer"
   thumbnail: "images/projects/hypoxia-2.png"
   link: "content/poster_SIB_ISMB.pdf"

code_projects:
- title: "ssPATHS: Single Sample PATHway Score"
  link: "https://bioconductor.org/packages/release/bioc/html/ssPATHS.html"
- title: "My GitHub account (nrosed)"
  link: "https://github.com/nrosed"

---

<div class="row header-row">
  <div class="col-md-offset-4 col-md-8">
  <h1>About Me</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-sm-2 col-xs-12">
    <img class="portrait" src="images/portrait.jpg" />
  </div>

  <div class="col-md-8 col-sm-10 col-xs-12">
    <p>Hello! I'm Natalie Davidson, a Post-Doctoral researcher in the <a href="https://bmi.inf.ethz.ch" target="_blank">Biomedical Informatics lab</a> at ETH Zürich. I received my PhD from <a href="http://compbio.triiprograms.org" target="_blank">Tri-Institutional Program for Computational Biology and Medicine</a> in New York, while conducting research at <a href="http://ethz.ch" target="_blank">ETH Zürich</a>.</p>

    <p>I am interested in understanding the role transcriptional dysregulation plays in cancer. Through my collaborations during my Ph.D., I have been able to conduct single cancer and pan-cancer analyses using RNA-Seq and Ribosome Profiling data. I typically use generalized linear models and generalized linear mixed models, but I am interested in extending to other models as the numbers of samples in cancer analyses grow. I am currently a part of the <a href="http://icgc.org" target="_blank">International Cancer Genome Consortium</a>, where I integrate multiple transcriptional aberrations such as splicing, fusions, over/under expression, allele specific expression, and others in over 1,000 samples to identify cancer relevant genes and alteration patterns.

    <p>
      I received my B.Sc. in computer science and minor in mathematics from University of California, Santa Barbara. &nbsp;I received my M.Sc. in computer science from <a href="http://ucla.edu" target="_blank">University of California, Los Angeles</a> under the advisement of <a href="http://www.biolchem.ucla.edu/labs/ernst/" target="_blank">Dr. Jason Ernst</a>.

    <p>
      <b>Thesis Title:</b> "Identification and Characterization of Aberrations in Cancer through the lens of RNA."
    </p>
  </div>
</div>

<div class="row header-row">
  <div class="col-md-12">
    <h1>Code</h1>
  </div>
</div>

<div class="row">
  <ul>
  {% for entry in page.code_projects %}
  <li><a target="_blank" href="{{ entry.link }}"> {{ entry.title }} </a></li>
  {% endfor %}
  </ul>
</div>


<div class="row header-row">
  <div class="col-md-12">
    <h1>Presentations</h1>
    (<a href="/publications">full publications</a>)
  </div>
</div>

<div class="row">
  {% for project in page.projects %}
    <div class="col-md-6 project-box">
      <a class="project-link" target="_blank" href="{{ project.link }}">
        <img src="{{ project.thumbnail }}" class="thumb img-responsive center-block" />
      </a>
      <h3>{{ project.title }}</h3>
      {% if project.desc %}
        <p>{{ project.desc }}</p>
      {% endif %}
    </div>
  {% endfor %}
</div>
